/* Container styling */
.container {
    text-align: center;
    border: 2px solid #444444; /* Added a subtle border for better visibility */
    margin: 20px; /* Add margin to prevent the container from touching the edges */
}


.score {
    margin-top: 20px;
}
.score button {
    padding: 12px 24px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.score button:hover {
    background-color: #218838;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.options {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.btns {
    margin-top: 20px;
}

#next {
    padding: 12px 24px;
    background-color: #1c1a5e;
    color: #41e4ec;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#next:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

#next {
    padding: 12px 24px;
    background-color: #1c1a5e;
    color: #41e4ec;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#next:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}